body {
  font-family: Roboto;
  font-size: xx-large;
  /* background-color: rgb(5, 5, 5); */
  background-color: #050708;
}

.header {
  /* font-weight: 300;
  margin: 4rem auto 0;
  width: 28%; */
  /* transform: translate(-50%, -50%); */
  /* display: flex;
  flex-direction: column; */
  /* align-content: center; */
  /* align-items: flex-end;
  color: white; */
  text-align: center;
  background-image: url("/img/title.png");
  background-repeat: no-repeat;
  width: 500px;
  height: 200px;
  background-position: 0% 0%;
  margin: 0 auto;
}
/* .header-col {
}
#iphone {
  font-size: 5.13rem;
  font-weight: 400;
}
#registered {
  font-size: small;
}
.light-hr {
  border-color: #84bbe5;
  border-width: 0.01rem;
  width: 68.1%;
  margin-right: 5.5rem;
  margin-top: -0.28rem;
}
#pro {
  color: #8ecdfe;
  margin-top: -2.2rem;
  margin-right: 1.5rem;
} */
.quiz-container {
  /* margin: 4rem auto 0; */
  margin: 0rem auto 0;
  padding: 3rem;
  /* width: 40rem; */
  width: 38%;
  /* height: 20rem; */
  text-align: center;
  background-color: rgb(247, 247, 247);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: 4;
}
.flex-grid {
  /* text-align: center; */
  display: flex;
  justify-content: space-between;
}
.img {
  /* margin-top: 3rem; */
  /* width: 13rem; */
  width: 33%;
  margin: auto;
  border-radius: 5px;
}

.question-container {
  margin: 2.5rem auto 0;
  z-index: 5;
}

.answer-container {
  width: 80%;
  /* width: 78%; */
  padding: 1rem;
}
.a-box {
  padding: 0.4rem;
}

.button {
  width: 100%;
  height: 3rem;
  border-radius: 7px;
  font-size: 1.8rem;
  border: 1px solid rgb(197, 197, 197);
  border: 1px solid rgb(255, 239, 226);
  background-color: #8ecdfe;
  color: rgb(26, 12, 5);
  color: rgb(255, 255, 255);
  color: rgb(255, 248, 242);
  color: rgb(255, 239, 226); /*good*/
  /* color: rgb(255, 242, 231); */
}
.button:hover {
  cursor: pointer;
  background-color: #84bbe5;
}
.button:active {
  background-color: #7ea9ca;
}
.flex-grid {
  /* text-align: center; */
  display: flex;
  justify-content: space-between;
}

/* MEDIA QUERIES */
@media (max-width: 1224px) {
  .quiz-container {
    /* justify-content: center; */
    width: 46%;
  }
  .img {
    width: 35%;
  }
  .answer-container {
    width: 85%;
  }
}
@media (max-width: 1024px) {
  .quiz-container {
    /* justify-content: center; */
    width: 54%;
  }
  .img-container {
    order: 3;
    /* justify-content: center; */
  }
  .img {
    width: 45%;
  }
  .question-container {
    order: 1;
    margin: 0rem auto 0;
  }
  .answer-container {
    order: 2;
    width: 90%;
  }
}

@media (max-width: 768px) {
  /* @media (max-width: 720px) { */
  .quiz-container {
    /* justify-content: center; */
    width: 65%;
  }
  .img {
    width: 45%;
  }
  .answer-container {
    width: 96%;
  }
}
@media (max-width: 480px) {
  .quiz-container {
    width: 75%;
  }
  .img {
    width: 45%;
  }
  .answer-container {
    width: 100%;
  }
}
